.header-section{
    text-align: center;
    background-color:  #ED1D24;
}
.header-section h1{
    font-weight: bold;
    color: #fff;
}
.header-section p{
    font-style: oblique;
    color: #fff;
}
.header-section h2{
    color: #fff;
}
span{
    color: black;
}